        <section class="logoCard">
            <a class="logoCard" href="/"><img src="/Logo_All_white_-_500.png"/>
                <MudHidden Breakpoint="Breakpoint.Xs"> 
                    <h2>FRÖLUNDA ARCADE</h2>
                </MudHidden>
                </a>
        </section>